<!DOCTYPE html>
<html lang="DE">

<!---
@author:     Mike Stk
@date:       12.07.2022
---->

    <!-- Section: Head -->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Prevents indexing by the search engines web crawlers, 
             because this is a private page to be shared privately by myself. -->
        <meta name="robots" content="noindex" />

        <!-- CSS, styles files -->
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" /> <!-- version 5.0.2 -->
        <link rel="stylesheet" type="text/css" href="../css/main.css" />

        <!-- FAVICON -->
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
        <link rel="manifest" href="../img/favicon/site.webmanifest">
        <link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="../img/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <!-- HTML website title -->
        <title>Impressum</title>

    </head>

    <body>

        <!-- Section: Navigation Bar -->
        <nav class="navbar justify-content-center navbar-dark bg-dark">
            <!-- Navbar content -->
            <a
                class="navbar-brand"
                href="https://michael-staerke.de/"
                style="margin-right: 10%">
                <img 
                    src="../img/logo_ms.jpg"
                    id="navbar-logo"
                    class="d-inline-block align-text-top">
            Home</a>
            
            <ul class="nav nav-pills">

                <!-- Navigation: "Datenschutz" -->
                <li class="nav-item">
                    <a
                        class="nav-link"
                        role="button"
                        href="../components/datenschutz.html"
                        target="_blank"
                    >Datenschutz</a>
                </li>

                <!-- Navigation: "Impressum" -->
                <li class="nav-item">
                    <a
                        class="nav-link"
                        role="button"
                        href="../components/impressum.html"
                        target="_blank"
                    >Impressum</a>
                </li>

                <!-- Navigation: "Kontakt" -->
                <li class="nav-item">
                    <a
                        class="nav-link"
                        role="button"
                        href="https://michael-staerke.de/#container-md"
                    >Kontakt</a>
                </li>
        </nav>

        <!-- Section: "Impressum" -->
        <div class="section-impressum">

            <h1><strong>Impressum</strong></h1>
            <br />
            <br />

            <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
            <p>Michael St&auml;rke<br />
            ******************* *****<br />
            ***** Konstanz</p>

            <h2>Kontakt</h2>
            <p>Telefon: ***** ***** **** ***<br />
            E-Mail: **********************</p>

            <p><strong>Leider gebe ich aus (IT-) Sicherheitsgründen keine weiteren Angaben raus,<br /> 
                deshalb die unkenntlich-gemachten Punkte " ************* "</strong></p>
                <p><strong>Gegen Kontaktanfrage gebe ich gerne Auskunft bezüglich meiner Anschrift und Emailadresse.</strong></p><br />

            <p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>

            <p><strong>Copyright 2022 - Michael Stärke</strong></p>

        </div>

</body>

</html>